.a {
    color: black;
    text-decoration: none;
  }
  li {
    list-style-type: none;
    margin: 12px;
    transition: 0.5s ease;
  }
  li:hover {
    transform: scale(1.1);
  }
  ul {
    justify-content: space-around;
  }
  
  .search {
    margin: 12px;
  }
  
  .card {
    margin: 10px;
  }
  .card img {
    height: 250px;
    width: 18rem;
    transition: 0.5s ease;
  }
  .card img:hover {
    filter: brightness(60%);
  }
  .logo {
    height: 45px;
    width: 50px;
    /* mix-blend-mode: color-burn; */
    filter: brightness(150px);
    border-radius: 6px;
  }
  .imagee {
    height: 50vh;
    width: 600px;
    border-radius: 20px;
  }
  .col-md-6 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 5%;
    margin-top: 5%;
  }
  .fontt {
    font-size: larger;
    font-family: cursive;
  }
  
  
  